# FUNCTIONS (docstrings part)

In [3]:
def test(a , b) :
    return a + b

In [9]:
def test(a , b) :
    '''this is my function for concatination or addition'''
    return a + b

In [ ]:
Signature: test(a, b)
Docstring: this is my function for concatination or addition
File:      c:\users\amit\appdata\local\temp\ipykernel_3768\2360688715.py
Type:      function

In [10]:
def test(a , b) :
    """this is my function for concatination or addition"""
    return a + b

In [4]:
test()

TypeError: test() missing 2 required positional arguments: 'a' and 'b'

In [5]:
test(4,6)

10

In [6]:
test("sudh" , "kumar")

'sudhkumar'

In [7]:
test(a=9 , b=6 )

15

In [8]:
test(b = 45 , a = 3)

48

In [ ]:
print()

In [ ]:
Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [11]:
print()

In [12]:
def test1(a,b,c,d,e) :
    return a, b, c, d, e

In [13]:
test1(3,4,5,6,7,7)

TypeError: test1() takes 5 positional arguments but 6 were given

In [14]:
test1(3,4,5,6,7)

(3, 4, 5, 6, 7)

# staric perimeter i can provide a any number of a perimeter that i am looking for

In [15]:
def test(*a):
    return a

In [16]:
test(34,56)

(34, 56)

In [17]:
test(2,3,4,4)

(2, 3, 4, 4)

In [18]:
test(4,5,6,6,6,[3,4,5,5,5,6])

(4, 5, 6, 6, 6, [3, 4, 5, 5, 5, 6])

In [19]:
def test4(*args):
    return args

In [20]:
test(34,56,6,76,7)

(34, 56, 6, 76, 7)

In [21]:
def test5(*a) :
    l = []
    for i in a :
        l.append(i)
    return l

In [22]:
test5(2,3,4,45,5,[345,56,5,6])

[2, 3, 4, 45, 5, [345, 56, 5, 6]]

In [23]:
test5(3,4,5,56)

[3, 4, 5, 56]

In [24]:
def test6(a,b,c,d , *m):
    return a , b, c, d, m

In [25]:
test6(3,4,5,5,6,6,7,7,8,8)

(3, 4, 5, 5, (6, 6, 7, 7, 8, 8))

In [29]:
def test7(*m,a,b,c,d,e):

IndentationError: expected an indented block (2368971861.py, line 1)

In [30]:
def test7(*m,a,b,c,d,e):
    return m , a,b,c,d,e

In [31]:
test7(4,5,65,6,6,7,7,56,67,34,54,67,78)

TypeError: test7() missing 5 required keyword-only arguments: 'a', 'b', 'c', 'd', and 'e'

In [32]:
test7(4,5,65,6,6,7,7,56,a =67,b =34,c =54,d =67,e =78)

((4, 5, 65, 6, 6, 7, 7, 56), 67, 34, 54, 67, 78)

# Double Asterisk or (**) is one of the Arithmetic Operator (Like +, -, *, **, /, //, %) in Python Language. It is also known as Power Operator.

In [33]:
def test8(**sudh):
    return sudh

In [34]:
test8(4,5,6,6)

TypeError: test8() takes 0 positional arguments but 4 were given

In [35]:
test8(b = 4,c = 5,d = 6,e = 6)

{'b': 4, 'c': 5, 'd': 6, 'e': 6}

In [36]:
d = {'b': 4, 'c': 5, 'd': 6, 'e': 6}

In [37]:
test8(d)

TypeError: test8() takes 0 positional arguments but 1 was given

In [38]:
test8(b = 4,c = 5,d = 6,e = 6 , n = [3,4,45,5,6,6,6])

{'b': 4, 'c': 5, 'd': 6, 'e': 6, 'n': [3, 4, 45, 5, 6, 6, 6]}

# Single Asterisk allows the developer to pass a variable number of Positional parameters and automatically converts the input values in the form of tuples. At the same time,                                      Double Asterisks allows the users to pass a variable number of Keyword parameters in the form of a Dictionary.

In [39]:
def test9(*m , **s) :
    return m , s

In [40]:
test(345,45,56,5,6,56,b= 4,c =6,d =7,g =9)

TypeError: test() got an unexpected keyword argument 'b'

In [41]:
test9(345,45,56,5,6,56,b= 4,c =6,d =7,g =9)

((345, 45, 56, 5, 6, 56), {'b': 4, 'c': 6, 'd': 7, 'g': 9})

# below is tuple

In [42]:
def test10(*m):
    n = 0
    for i in m :
        if type(i) == int :
            n = n+i
    return n

In [43]:
test10(2,3,4,5,5,6,6)

31

In [44]:
test10(2,3,4)

9

In [49]:
def test1(*m):
    n = 1
    for i in m :
        if type(i) == int :
            n = n*i
    return n

In [50]:
test1(4,5,6,6,7,87,8)

3507840

# A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.

In [51]:
lambda a , b : a + b

In [52]:
n = lambda a , b : a + b

In [53]:
n(4,5)

9

In [54]:
def test5(a,b):
    return a + b

In [55]:
test5(4,5)

9

In [56]:
n(5,6)

11

In [57]:
b = lambda *sudh : sudh

In [58]:
b(45,5,4,5,5,6,677)

(45, 5, 4, 5, 5, 6, 677)

# comprehension operation = We can create new sequences using a given python sequence. This is called comprehension. It basically a way of writing a concise code block to generate a sequence which can be a list, dictionary, set or a generator by using another sequence.

In [59]:
t = (3,4,4,5,5,6,67,7,7)
l = []
for i in t :
    l.append(i)

In [60]:
l

[3, 4, 4, 5, 5, 6, 67, 7, 7]

# list comprehension operation

In [61]:
[i for i in t]

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [62]:
s = "sudh"

In [63]:
[i for i in s]

['s', 'u', 'd', 'h']

In [64]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
l = []
for i in range(10):
    l.append(i*i)

In [66]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [67]:
l = lambda *x : [i for i in x]

In [68]:
l(4,45,5,6,6,7,8,9)

[4, 45, 5, 6, 6, 7, 8, 9]

In [71]:
l = lambda *x : [i**2 for i in x]

In [78]:
l(4,45,5,6,6,7,8,9)

[16, 2025, 25, 36, 36, 49, 64, 81]

In [ ]:
test14(a = 7, b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

In [ ]:
def test14(**kwargs) :

In [81]:
def test14(**k):
    l=[]
    for i in k:
        if type(i)== str:
            l.count(i)

In [82]:
test14(a = 7, b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

In [84]:
def test14(**kwargs):
    count = 0
    for c,v in kwargs:
        if type(c) == str or type(v) == str:
            count += 1
    return count

In [85]:
test14(a = 7, b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

ValueError: not enough values to unpack (expected 2, got 1)

In [86]:
def test14(**kwargs):
    count = 0
    for v in kwargs.values():
        if type(c) == str or type(v) == str:
            count += 1
    return count

In [87]:
test14(a = 7, b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

NameError: name 'c' is not defined

In [88]:
def test14(**kwargs):
    count = 0
    print(kwargs)
    for v in kwargs.values():
        if type(v) == str or type(v) == list:
            count += 1
    return count

In [89]:
test14(a = 7, b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}

3

In [90]:
def test14(**kwargs):
    count = 0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v) == str or type(v) == list:
            count += 1
    return count

In [91]:
test14(a = 7, b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']])

3

In [95]:
def test15(**kwargs) :
    return list(kwargs.values())

In [96]:
test15(a = 7, b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

[7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']]